<!-- {{ list|json }} -->
 <app-header></app-header>
 <app-notification></app-notification>
 <button type="button" class="btn btn-primary mt-5 mx-5" (click)="redirectTo(['manage','addEmployee'])"> Add Employee</button>
<mat-card class="item-card">
  <mat-table [dataSource]="list" class="mat-elevation-z8">

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.id}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.userName}} </mat-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.email}} </mat-cell>
    </ng-container>

    <!-- Phone Column -->
    <ng-container *ngIf="userInfo.isAdmin" matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.phone}} </mat-cell>
    </ng-container>
    <!-- salary Column -->
    <ng-container *ngIf="userInfo.isAdmin" matColumnDef="salary">
      <mat-header-cell *matHeaderCellDef> Salary </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.salary}} </mat-cell>
    </ng-container>
    <!-- Position Column -->
    <ng-container *ngIf="userInfo.isAdmin" matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> Position </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.teamName}} </mat-cell>
    </ng-container>

     <!-- Actions Column -->
     <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
      <mat-cell *matCellDef="let item">
        <button *ngIf="userInfo.isAdmin" mat-button color="primary" class="btn btn-primary me-2" (click)="onEdit(item)" [disabled]="item.isAdmin">Edit</button>
        <button *ngIf="userInfo.isAdmin && userInfo.isTeamAdmin && userInfo.isUser" mat-button color="primary" class="btn btn-primary me-2" (click)="onUpdateUserByID(item)" [disabled]="item.isAdmin">Update Details</button>
        <button *ngIf="userInfo.isAdmin" mat-button color="warn" class="btn btn-danger" (click)="onDelete(item)">Delete</button>
        <button *ngIf="!userInfo.isAdmin && !userInfo.isTeamAdmin && userInfo.isUser == true" mat-button color="info" class="btn btn-info"  (click)="onEdit(item)">View</button>
      </mat-cell>
    </ng-container>

    <!-- Table Header and Row Definitions -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</mat-card>



<div  #ModelPopup class="modal fade" id="globalModal" tabindex="-1" aria-labelledby="globalModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="globalModalLabel">Global Modal</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form #f="ngForm" (ngSubmit)="updateEmployeeFromPopup()">
      <div class="modal-body">
        <!-- Dynamic content goes here -->
        <ng-content>
          <!-- Content here -->
          <!-- Example: <p>Some text in the modal.</p> -->
            <mat-label>name</mat-label>
            <input class="form-control" type="text" name="name" id="name" [(ngModel)]="updateUser.userName" [disabled]="!updateUser.isTeamAdmin  &&  updateUser.isUser">
            <mat-label>email</mat-label>
            <input class="form-control"type="text" name="email" id="email" [(ngModel)]="updateUser.email" [disabled]="!updateUser.isTeamAdmin  &&  updateUser.isUser">
            <mat-label>phone</mat-label>
            <input class="form-control"type="text" name="phone" id="phone" mask="000-000-0000" [showMaskTyped]="true" [dropSpecialCharacters]="false" [(ngModel)]="updateUser.phone" [disabled]="!updateUser.isTeamAdmin  &&  updateUser.isUser">
            <mat-label>salary</mat-label>
            <input class="form-control"type="text" name="salary" id="salary" [(ngModel)]="updateUser.salary" [disabled]="!updateUser.isTeamAdmin">
            <mat-label>Position</mat-label>
            <!-- <span class="form-control" [innerHTML]="updateUser.teamName"></span> -->
            <!-- <mat-form-field appearance="fill">
              <mat-label>Select a Team</mat-label>
              <mat-select [(value)]="updateUser.assignedTeamID">
                <mat-option *ngFor="let team of EmployeeTeamListing" [value]="team.TeamId">
                  {{ team.Name }}
                </mat-option>
              </mat-select>
            </mat-form-field> -->

            <select class="form-control" id="EmployeeTeamListing" name="EmployeeTeamListing" [(ngModel)]="updateUser.assignedTeamID" >
              <option *ngFor="let team of EmployeeTeamListing" [value]="team.teamId">
                {{ team.name }}
              </option>
            </select>
            <!-- <input class="form-control"type="text" name="salary" id="salary" [(ngModel)]="" [disabled]="updateUser.isTeamAdmin"> -->
          </ng-content>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button *ngIf="userInfo.isAdmin" type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
