
.navbar-brand {
  font-weight: bold;
}
.header-text {
  margin: 40px 0;
}

.navbar {
  background: linear-gradient(90deg, #4A148C, #6A1B9A, #8E24AA, #AB47BC);
  /* padding: 15px 20px; */
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  /* color: white; */
  text-decoration: none;
  padding: 8px;
  margin: 1px;
  font-weight: bold;
  transition: background 0.3s, color 0.3s;
  border-radius: 5px;
}

.navbar a:hover {
  background: rgba(255, 255, 255, 0.2);
  /* color: #AB47BC; */
  /* color: #032831; */
  color: wheat;
  text-decoration: underline;
}

